<ion-view id="event" view-title="Event">
    <ion-content>
    <ion-pane>
    <ion-tabs class="tabs-icon-top tabs-positive tabs-striped tabs-top tabs-background-dark tabs-color-light">
        <ion-tab title="Agents" icon="ion-ios-people-outline" ui-sref="eventagents()">
<!--        <ion-tab title="Agents" icon="ion-ios-people-outline" href="#/agents">-->
            <ion-nav-view name="agents-tab" ng-controller="AgentsEventCtrl">
                <ion-content>
                    Tab 1 content
                </ion-content>
            </ion-nav-view>
        </ion-tab>

        <ion-tab title="CostItems" icon="ion-ios-albums-outline" ui-sref="eventcostitems()">
<!--        <ion-tab title="Agents" icon="ion-ios-people-outline" href="#/costitems">-->
            <ion-nav-view name="costitems-tab" ng-controller="CostItemsEventCtrl">
                <ion-content>
                    Tab 2 content
                </ion-content>
            </ion-nav-view>
        </ion-tab>
    </ion-tabs>
    </ion-pane>
</ion-view>